<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="employee">
<table class="table">
    <tbody>
    <tr>
        <th>ФИО:</th><td>[[${employee.getFullName()}]]</td>
    </tr>
    <tr>
        <th>Должность:</th><td>[[${employee.getPosition()}]]</td>
    </tr>
    <tr>
        <th>Подразделение:</th><td>[[${employee.getDepartmentName()}]]</td>
    </tr>
    <tr>
        <th>День рождения:</th><td>[[${employee.getBirthDay()}]]</td>
    </tr>
<tr>
    <td colspan="2"  class="title-string" style="background-color: #f3eeec">Контакты сотрудника</td>
</tr>
    <tr class="table-group-divider">
        <th>Телефон:</th><td>[[${employee.getPhoneNumber()}]]</td>
    </tr>
<!--    <tr>-->
<!--        <th>Мобильный телефон:</th><td>[[${employee.getCellPhone()}]]</td>-->
<!--    </tr>-->
    <tr>
        <th>Email:</th><td><a th:href="${'mailto:' + employee.getEmail()}">[[${employee.getEmail()}]]</a></td>
    </tr>
    <tr>
        <td colspan="2" class="title-string" style="background-color: #f3eeec">Руководитель сотрудника</td>
    </tr>
    <tr class="table-group-divider">
        <th>ФИО:</th><td>[[${employee.getManagerName()}]]</td>
    </tr>
    <tr>
        <th>Внутренний телефон:</th><td>[[${employee.getManagerPhoneNumber()}]]</td>
    </tr>
<!--    <tr>-->
<!--        <th>Мобильный телефон:</th><td>[[${employee.getManagerCellPhone()}]]</td>-->
<!--    </tr>-->
    <tr>
        <th>Email:</th><td><a th:href="${'mailto:' + employee.getManagerEmail()}">[[${employee.getManagerEmail()}]]</a></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>