<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div th:replace="fragments/header :: header-css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div id="main-block">

<div class="container-fluid h-100" id="addressData">

    <table class="table table-bordered border-secondary">
        <thead id="table-head">
        <tr>
            <th scope="col" class = "column-number">№</th>
            <th scope="col">Подразделение</th>
            <th scope="col">Должность</th>
            <th scope="col">Сотрудник</th>
<!--            <th scope="col">График</th>-->
            <th scope="col">Тел.</th>
            <th scope="col">Мобильный</th>
        </tr>
        </thead>
        <tbody th:with="level=1, parentDepartmentClass=''">
        <th:block th:fragment="sudepartments_node(departmentList, currentId, level, parentDepartmentClass)" th:each="child : ${departmentList.getDepartments()}">
            <tr class="department-row" th:classappend="${parentDepartmentClass}" rolled=false>
                <td class = "column-number" th:text="${myCounter.incrementAndGet()}"></td>
                <td class = "row-group group-wrap"  onclick="rollDepartment(event, $(this))"  th:attr="department-class = ${myCounter.getDepartmentClass(child)}"
                    th:text="${child.getName()}" th:style="'padding-left:' + ${0.5 + level*1.5} + 'em; background-position-x:' + ${(level-1)*1.5+0.2} + 'em'"></td>
                <td th:text="${child.getHead()?.getPosition()}"></td>
                <td><a class="employee-link" th:text="${child.getHead()?.getFullName()}" href="#" data-bs-toggle="modal" data-bs-target="#employeeModel" th:attr="data-bs-whatever=${child.getHead()?.getId()}"></a></td>
<!--                <td th:text="${child.getHead()?.getWorkSchedule()}"></td>-->
                <td class = "column-phone" th:text="${child.getHead()?.getPhoneNumber()}"></td>
                <td class = "column-phone" th:text="${child.getHead()?.getCellPhone()}"></td>
            </tr>
            <th:block th:each="empl : ${child.getEmployees()}">
                <th:block th:unless="${child.getHead()?.getId()==empl.getId()}">
                    <tr class="employee-row" th:classappend="${parentDepartmentClass} + ' ' + ${myCounter.getDepartmentClass(child)}">
                        <td class = "column-number" th:text="${myCounter.incrementAndGet()}"></td>
                        <td th:text="${child.getName()}"  th:style="'padding-left:' + ${0.5 + level*2} + 'em'"></td>
                        <td th:text="${empl.getPosition()}"></td>
                        <td ><a class="employee-link" th:text="${empl.getFullName()}" href="#" data-bs-toggle="modal" data-bs-target="#employeeModel" th:attr="data-bs-whatever=${empl.getId()}"></a></td>
<!--                        <td th:text="${empl.getWorkSchedule()}"></td>-->
                        <td class = "column-phone"  th:text="${#strings.isEmpty(empl.getPhoneNumber()) ? 'нет' : empl.getPhoneNumber()}"></td>
                        <td class = "column-phone"  th:text="${#strings.isEmpty(empl.getCellPhone()) ? 'нет' : empl.getCellPhone()}"></td>
                    </tr>
                </th:block>
            </th:block>
            <th:block th:replace="this::sudepartments_node(${child},${child.getId()}, ${level+1}, ${parentDepartmentClass} + ' ' + ${myCounter.getDepartmentClass(child)})"></th:block>
        </th:block>
        </tbody>
    </table>

    <div class="justify-content-center align-items-center text-center" th:if="${#lists.isEmpty(departmentList.getDepartments())}" style="margin:auto; padding:3em 0;">
        <p>По запросу ничего не найдено...</p>
        <p>Попробуйте изменить строку поиска.</p>
    </div>

</div>

</div>

<div th:replace="fragments/footer :: footer"></div>
<!-- Модальное окно -->
<div class="modal fade" id="employeeModel" tabindex="-1" aria-labelledby="employeeModelLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="employeeModelLabel"><span class="myicon-employee-big"></span>Данные сотрудника</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body" id="employeeInfo">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
<!--                <button type="button" class="btn btn-primary">Сохранить изменения</button>-->
            </div>
        </div>
    </div>
</div>

<script>
    var getUrlParameter = function getUrlParameter(sParam) {
        let sPageURL = window.location.search.substring(1),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;
        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
            }
        }
        return false;
    };

    var employeeModel = document.getElementById('employeeModel')
    employeeModel.addEventListener('show.bs.modal', function (event) {
        // Кнопка, запускающая модальное окно
        let button = event.relatedTarget;
        // Извлечь информацию из атрибутов data-bs- *
        let emplId = button.getAttribute('data-bs-whatever');
        // При необходимости вы можете инициировать запрос AJAX здесь
        // а затем выполните обновление в обратном вызове.
        event.stopPropagation();
        $.ajax({
            type: "GET",
            url: "/addressbook/employee/" + emplId,
            data: {},
            beforeSend: function () {
                /* что-то сделать перед */
            },
            success: function (data) {
                let popupWrapper = $("#employeeInfo");
                popupWrapper.empty();
                popupWrapper.html(data);
            },
            error: function () {
                console.log(data)
            }
        });
    })

    $(window).on('load', function() {
        setTableHead();
        let searchedText = getUrlParameter('searchtext')
        // $("#addressData.li:contains('"+searchedText+"')").each( function( i, element ) {
        //     var content = $(element).text();
        //     content = content.replace( searchedText, '<span class="mark">' + searchedText + '</span>' );
        //     element.html( content );
        // });
        // // Highlight search term inside a specific context
        $("#addressData").unmark().mark(searchedText);
    });

    function setTableHead(){
        let headEl = $(".navbar");
        let tableHead = $("#table-head");
        let mainBlock = $("#main-block");
        tableHead.css("top", Math.ceil(headEl.outerHeight(true)));
        mainBlock.css("padding-top", Math.ceil(headEl.outerHeight(true)));
    }

    $(window).on('resize', function() {
        setTableHead();
    });


    function rollDepartment(event, element){
        let rolled = element.parent().attr("rolled");
        event.stopPropagation();
        if(event.delegateTarget!=null) return;
        let groupId = element.attr('department-class');
        if(rolled==null || rolled===false || rolled=="false"){
            element.removeClass("group-wrap").addClass("group-unwrap");
            element.parent().attr("rolled", true);
            $("." + groupId).each(function(){
                let subElement = $(this);
                if(subElement==element.parent()) {
                    return;
                }
                subElement.fadeOut(100);
                let wrapCount = subElement.attr("wrapcount");
                if(wrapCount==null || wrapCount==0){
                    subElement.attr("wrapCount", 1);
                }else{
                    subElement.attr("wrapCount", ++wrapCount);
                }
            });
        }else{
            element.removeClass("group-unwrap")
                .addClass("group-wrap")
                .parent()
                .attr("rolled", false);
            $("." + groupId).each(function(idx){
                let subElement = $(this);
                if(subElement==element.parent()){
                    return;
                }
                let wrapCount = subElement.attr("wrapcount");
                if(wrapCount==null || wrapCount<=1){
                    subElement.fadeIn(100);
                    subElement.attr("wrapCount", "0");
                }else{
                    subElement.attr("wrapCount", --wrapCount);
                }
            })

        }
    }

</script>

</body>
</html>

